html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#myCanvas{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    touch-action: none;
}
